In [1]:
import pandas as pd
import numpy as np
import operator
import datetime as dt
import time
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
app2005 = pd.read_excel('../data/2005_appraisals_[source].xlsx', usecols=['UserAccount','FiscalYear','LAND APPR','BLDG APPR','TOTAL APPR','TOTAL ASSD'])
app2005.head(10)

      UserAccount  FiscalYear  LAND APPR  BLDG APPR  TOTAL APPR  TOTAL ASSD
0             NaN        2005      30000       3100       33100       13240
1     00100000100        2005      25800          0       25800           0
2     00100000200        2005      13600          0       13600        3400
3     00200000100        2005          0          0           0           0
4  00200000100001        2005      10200      26600       36800           0
5  00200000100002        2005      19000          0       19000           0
6     00200000200        2005      18000          0       18000        4500
7     00200000300        2005      32700      71800      104500       26125
8     00200000700        2005      33100      80400      113500       28375
9     00200000800        2005      22400          0       22400        5600

In [ ]:
app2005.info()

In [ ]:
app2009 = pd.read_excel('../data/2009_appraisals_[source].xlsx', usecols=['UserAccount','FiscalYear','LAND APPR','BLDG APPR','TOTAL APPR','TOTAL ASSD'])
app2009.head(10)

In [ ]:
app2009.info()

In [ ]:
app2013 = pd.read_excel('../data/2013_appraisals_[source].xlsx', usecols=['UserAccount','FiscalYear','LAND APPR','BLDG APPR','TOTAL APPR','TOTAL ASSD'])
app2013.head(10)

In [ ]:
app2013.info()

In [ ]:
app2017 = pd.read_excel('../data/2017_appraisals_[source].xlsx', usecols=['UserAccount','FiscalYear','LAND APPR','BLDG APPR','TOTAL APPR','TOTAL ASSD'])
app2017.head(10)

In [ ]:
app2017.info()

In [ ]:
app2021 = pd.read_excel('../data/2021_appraisals_[source].xlsx', usecols=['UserAccount','FiscalYear','LAND APPR','BLDG APPR','TOTAL APPR','TOTAL ASSD'])
app2021.head(10)

In [ ]:
app2021.info()

In [ ]:
app_all = pd.concat([app2005, app2009,app2013,app2017,app2021], axis=0)
app_all

In [ ]:
app_all_csv_data = app_all.to_csv('../data/app_all.csv', index = False)